[Unit]
Description=JupyterHub (Docker Compose)
Wants=network-online.target
After=docker.service network-online.target
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/jupyterhub/jupyterhub-onprem/docker/jupyterhub
User=jupyterhub


# Pull newest images and (re)create containers in one go
ExecStart=/usr/bin/docker compose -f docker-compose.yml up -d --pull always --remove-orphans --force-recreate
ExecReload=/usr/bin/docker compose -f docker-compose.yml up -d --pull always --remove-orphans --force-recreate
ExecStop=/usr/bin/docker compose -f docker-compose.yml down

RemainAfterExit=yes
TimeoutStartSec=0
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target